.footer a{
   text-decoration: none;
}
.footer{
  background-color: blueviolet;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px 10px 0px 10px;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  margin-right: 0;
}
.allRight{
    color: rgb(255, 255, 255);    
}