.footer a{
   text-decoration: none;
}
.face {
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.linkedin {
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
 }
.git {
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.footer img{
  border-radius: 100%;
  align-items: center;
}
.footer{
  background-color: blueviolet;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px 50px 0px 50px;
  opacity: 0.9;
}