.footer a{
   text-decoration: none;
}
.face {
  border-radius: 100%;
  bottom: 0;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  position: fixed;
  padding: 0;
  justify-content: space-between;
  text-decoration: none;
}

.linkedin {
  border-radius: 100%;
  bottom: 0;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  position: fixed;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 45px;
 }
.git {
  border-radius: 100%;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 90px;
 }
.footer img{
  opacity: 1;
  border-radius: 100%;
  align-items: center;
  height: 35px;
  width: 100%;
}
.footer{
  background-color: blueviolet;
}